.slick-arrow.slick-next{
    margin-top: 30px;
    margin-right: 500px;
}
.slick-arrow.slick-prev{
    margin-top: 30px;
    margin-left: 500px;
}

.carousel{
    margin-top: 120px;
    max-height: 500px;
}